<blockquote>
    <p>
        {{blockquote}}
    </p>
    <cite>{{cite}}</cite>
</blockquote>

<footer>

    <div id="footer">
    
        <h3>Карта сайта</h3>
        
        <div id="sitemap">
            <div class="sitemap">
                <div>
                    <a href="/">Главная</a>
                    <a href="/content">Программа</a>
                </div>
            </div>
            <div class="sitemap">
                <div class="hide1">
                    <a href="/price">Цены</a>
                    <a href="/ownpath">Свой путь</a>
                </div>
            </div>
            <div class="sitemap">
                <div class="hide1">
                    <a href="/reviews">Отзывы</a>
                    <a href="/faq">Вопросы</a>
                </div>
            </div>
            <div class="sitemap">
                <div class="hide23">
                    <a href="/about">Обо мне</a>
                    <a href="/links">Ссылки</a>
                </div>
            </div>
            <div class="sitemap">
                <div class="hide2">
                    <a target="_blank" href="{{telegram}}">мой telegram</a>
                    <a target="_blank" href="{{telegramChannel}}">telegram-канал</a>
                </div>
            </div>
            
            <div class="sitemap">    
                <div>
                    <a href="/subscription">Купить подписку</a>
                </div>
                
            </div>
        </div>
                
        <!--div id="footer-logo">
                    <!--a href="/"><img src="images/footer-logo.png" alt="Whitesquare logo"></a-->
            <!--p>Copyright &copy; 2021. </p>
        </div-->
    </div>
    
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function() {
  // Generic selector to be used anywhere
  $(".aside-menu li a").click(function(e) {

    // Get the href dynamically
    var destination = $(this).attr('href');
    //console.log($(destination));
    // Prevent href=“#” link from changing the URL hash (optional)
    e.preventDefault();

    $(".aside-menu li").removeClass('active');
    $(this).parent().addClass('active');
    
    // Animate scroll to destination
    $('html, body').animate({
      scrollTop: $(destination).offset().top-150
    }, 'fast');
    
  });
});
</script>