<footer>
<div id="footer">

    <div id="sitemap">
        <h3>Карта сайта</h3>
        <div>
            <a href="/">Главная</a>
            <a href="/content">Программа</a>
        </div>
        <div>
            <a href="/price">Цены</a>
            <a href="/ownpath">Свой путь</a>
        </div>
		<div>
            <a href="/reviews">Отзывы</a>
            <a href="/faq">Вопросы</a>
        </div>
		<div>
            <a href="/about">Обо мне</a>
            <a href="/links">Ссылки</a>
        </div>
		
		<div>
            <a target="_blank" href="{{telegram}}">я в telegram</a>
			<a target="_blank" href="{{telegramChannel}}">telegram-канал курса</a>
        </div>
		
		<div>
            <a href="/subscription">Купить подписку</a>
        </div>
		
    </div>
            
	<div id="footer-logo">
				<!--a href="/"><img src="images/footer-logo.png" alt="Whitesquare logo"></a-->
		<p>Copyright &copy; 2021. </p>
	</div>

</footer>