<!DOCTYPE html>
<html>
<head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(83588587, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/83588587" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    
    <title>{{title}}</title>
    <meta name="description" content="Курс подготовки практикующего 1С-разработчика с достижением уровня pre-Middle от уровня стажера.
Проходит в асинхронном формате. Начинаете обучение в любое время и двигаетесь дальше с комфортной скоростью.
Главная ценность — большой объём обратной связи от наставника.
Ваш код разбирается детально, пробелы показываются сразу, помощь оказывается своевременно.
Для людей с техническим образованием."/>
	
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->   
</head>
<body>

<div id="wrapper">
    {{> menu}}
    <div id="body">
    {{{body}}}
	</div>
</div>

{{> footer}}

</body>
<html>