<section class="page">

<p class="section">
А теперь посмотрим, что вы изучите</p>   

<table class="content_table" style="border-spacing: 5px; font-size:large" border="0" cellpadding="10" cellspacing="10">
	<tbody>	    
    <tr>
    <td colspan=2>
<div class="chapter"><b>Глава 1</b> призвана дать ответ на вопросы:</div>
<p></p>
<div class="tags" style="width: 1000px; color: #ffffff; font-family: Roboto; font-size: 17px; font-weight: 300; line-height: 40px;">
  <span style="white-space: nowrap;width: auto;border-radius: 13px;padding: 5px 10px 5px 10px;text-decoration: none;color: #ffffff;background-color: orange;">Что означает автоматизировать учетные задачи?</span>
  <span style="white-space: nowrap;width: auto;border-radius: 13px;padding: 5px 10px 5px 10px;text-decoration: none;color: #ffffff;background-color: blue;">Зачем придумали 1С?</span>
  <span style="white-space: nowrap;width: auto;border-radius: 13px;padding: 5px 10px 5px 10px;text-decoration: none;color: #ffffff;background-color: green;">Чем 1С отличается от других сред разработки?</span>
  <span style="white-space: nowrap;width: auto;border-radius: 13px;padding: 5px 10px 5px 10px;text-decoration: none;color: #ffffff;background-color: Gold;">Что такое Программный Продукт и как его создают?</span>
  <span style="white-space: nowrap;width: auto;border-radius: 13px;padding: 5px 10px 5px 10px;text-decoration: none;color: #ffffff;background-color: MediumOrchid;">Как команда работает над созданием Программного Продукта?</span>
</div>
</td>
</tr> 
<tr><td colspan=2 style="font-size:medium; font-style:italic;">
    <p>Теперь вы понимаете общие принципы отрасли 1С.</p>
    <hr>
    </td></tr>  
    <tr>
    <td>
    <p class="chapter"><b>Глава 2</b> даст IT-кругозор </p>
    </td>
	<td>
    <ul>
<li>Занятие 4 - общие IT-понятия</li>
<li>Занятие 5 - устройство клиент-серверного варианта работы</li>
<li>Занятие 6 - обзор объектов метаданных</li>
</ul>  
    </td>
    </tr>   
    <tr><td style="font-size:medium; ">
    <p>Таким образом до "первого кода" от начала курса<br> <b>пройдет 3-5 дней</b>.</p>
    </td><td>
    <p>Постарайтесь не "зависнуть" на этих занятиях,<br> а пройти их быстро, в режиме чтения.</p>
    </td></tr>
    <tr><td colspan=2 style="font-size:medium; font-style:italic">
    <p>Вы установили Платформу, разобрались в основах администрирования, получили представление о метаданных.</p>   
    <hr>
    <p></p>
    </td></tr>
    
    <tr><td colspan=2>
    <p class="chapter"><b>Глава 3</b> даст базовые навыки работы с управляемой формой. Работы с базой данных здесь пока нет.</p>
    </td></tr>
    
    <tr><td>
<ul>
<li>Занятие 7 - каркас нашей конфигурации, управляемый интерфейс</li>
<li>Занятие 8 - директива компиляции VS инструкция препроцессора,
клиент-серверный вызов</li>
<li>Занятие 9 - первая задача: z = max(Реквизит1, min(Реквизит2, Реквизит3))</li>
<li>Занятие 10 - развиваем задачу занятия 09: работаем асинхронно</li>
<li>Занятие 11 - задача формы-диспетчера: создаем элементы формы программно, проводим аналогии с ООП</li>
<li>Занятие 12 - задача на неявное приведение примитивных типов: Калькулятор</li>
</ul> 
    </td>
    <td>
<ul>

<li>Занятие 13 - простые задачи: набиваем руку</li>
<li>Занятие 14 - задача-шаблон для другого программиста</li>
<li>Занятие 15 - умножаем вектор-строку на вектор-столбец</li>
<li>Занятие 16 - реализуем несколько универсальных функций</li>
<li>Занятие 17 - развиваем задачу из занятия 15: код в фоне</li>
<li>Занятие 18 - задача на граф</li>
<li>Занятие 19 - финальное занятие главы: контрольные вопросы</li>
</ul> 
    </td>
    </tr>
      <tr><td colspan=2 style="font-size:medium; font-style:italic">
   <p> Вы уже уверенно себя чувствуете в использовании "динамических данных". <br></p>
    <p>При стабильном темпе занятий (3-4 раза в неделю) - это займёт <b>4-5 недель</b>.</p>
    <hr>

    <p></p>
    </td></tr>  
     <tr><td colspan=2>
    <p class="chapter"><b>Глава 4</b> - Проект "Система тестирования"</p>
    </td></tr>  
     <tr>
    
    <td>
<ul>
<li>Занятие 20 - начинаем работу над Проектом, построение базовой модели</li>
<li>Занятие 21 - ввод начальных данных, загрузка данных из json, сохранение результата в xml</li>
<li>Занятие 22 - публикация базы на веб-сервере, загрузка данных из Excel</li>
<li>Занятие 23 - проектирование модели в объектах базы данных (справочники), вывод структуры хранения</li>
<li>Занятие 24 - форма элемента справочника, его события</li>
<li>Занятие 25 - транзакция, предопределенные элементы, загрузка данных в справочники</li>
<li>Занятие 26 - форма списка, динамический список, запрос, загрузка данных в модель</li>
<li>Занятие 27 - документы: структура таблиц, стандартные свойства, особенности</li>
<li>Занятие 28 - документы: форма списка, проведение</li>

</ul> 
    </td>
        <td>
<ul>

<li>Занятие 29 - регистр накопления оборотов, формирование движений</li>
<li>Занятие 30 - регистр накопления остатков, формирование движений</li>
<li>Занятие 31 - отчеты на СКД, работа с настройками отчета</li>
<li>Занятие 32 - универсальный отчет на СКД, программная работа с СКД</li>
<li>Занятие 33 - регистры сведений, структура, особенности, связь по параметру в СКД</li>
<li>Занятие 34 - специфичные задачи по регистрам сведений</li>
<li>Занятие 35 - характеристики: ПВХ</li>
<li>Занятие 36 - введение в регистры бухгалтерии и связанные с ними объекты</li>
<li>Занятие 37 - финальное занятие главы: контрольные вопросы</li>
</ul> 
    </td>
    
    </tr>
     <tr><td colspan=2 style="font-size:medium; font-style:italic">
    <p>Вы разобрались с основными объектами метаданных. Умеете проектировать их структуру и решаете уже достаточно непростые задачи.<br></p>
    <p>Опять же при стабильном хорошем темпе занятий (3-4 раза в неделю) - это займёт <b>8-10 недель</b>.</p>
    <hr>
    <p></p>
    </td></tr> 
     <tr>
    <td>
    <p class="chapter"> <b>Глава 5</b> - подводящие задачи уровня <br>
     Специалиста по Платформе. </p>
    </td>
	<td>
    <ul>
<li>Занятие 38 - каркасная конфигурация 1С Специалист</li>
<li>Занятие 39 - упрощенная задача оперативного учета, часть 1</li>
<li>Занятие 40 - упрощенная задача оперативного учета, часть 2</li>
<li>Занятие 41 - упрощенная задача бухгалтерского учета</li>
<li>Занятие 42 - обзор задачи на регистр расчетов</li>
<li>Занятие 43 - финальное занятие главы: контрольные вопросы</li>
</ul>  
    </td>
    </tr>   
    <tr><td colspan=2 style="font-size:medium; font-style:italic">
    <p>Вы закрепили материал Главы 4 и попробовали свои силы в решении задач уровня Специалиста по Платформе<br></p>
    <p>При сохранении темпа занятий (3-4 раза в неделю) - это займёт <b>3-4 недели</b></p>
    <p></p>
    </td></tr>
    
    </tbody>
</table>
 
<button class="ref"> 
	<a href="/price">Сколько стоит?</a>
</button> 

</section>