
<aside>
    <div class="sticky">
        <nav>
            <ul class="aside-menu">
                <li class='active'><a href="#s1">Глава 1</a></li>
                <li><a href="#s2">Глава 2</a></li>
                <li><a href="#s3">Глава 3</a></li>
                <li><a href="#s4">Глава 4</a></li>
                <li><a href="#s5">Глава 5</a></li>
            </ul>
        </nav>	
        <p class="section">
            Как проходят занятия:</p>
        <iframe allowfullscreen="" frameborder="0" width="300" height="200" scrolling="no" src="https://www.youtube.com/embed/F7Qs-FCUy3I?rel=0"></iframe>
        <header class="aside">             
            <div><b>Курс подготовки 1С-разработчика</b>.</div> 
            <div>От стажера до уровня pre-Middle.</div>
            <div>Проходит в <b>асинхронном</b> формате.</div> 
            <!--div>Начните обучение в любое время с комфортной скоростью.</div-->
            <div><b>Главная ценность</b> — большой объём обратной связи от наставника.</div>
            <div><b>Ваш код разбирается детально</b>, пробелы показываются сразу, помощь оказывается своевременно.</div>
            <div>Для людей с <b>техническим образованием</b>.</div>
        </header>
    </div>
</aside>

<section class="content">

<p class="section" id="s1">
Глава 1 ответит на вопросы:</p>   

<ul>
	<li>Что означает автоматизировать учетные задачи?</li>
    <li>Зачем придумали 1С?</li>
    <li>Чем 1С отличается от других сред разработки?</li>
    <li>Что такое Программный Продукт и как его создают?</li>
    <li>Как команда работает над созданием Программного Продукта?</li>
</ul>

<p class="medium italic">Теперь вы понимаете общие принципы отрасли 1С.</p>

<div class="frame">
Обычно это занимает <b>2-3 дня</b></div>
    
<p class="section" id="s2">
Глава 2 расширит IT-кругозор</p>   

<ul>
    <li>Занятие 4 - общие IT-понятия</li>
    <li>Занятие 5 - устройство клиент-серверного варианта работы</li>
    <li>Занятие 6 - обзор объектов метаданных</li>
</ul>

<div class="frame">
Таким образом до "первого кода" от начала курса <b>пройдет 3-5 дней</b>.</div>

<p>Постарайтесь не "зависнуть" на этих занятиях, а пройти их быстро, в режиме чтения.</p>
    
<p class="medium italic">Вы установили Платформу, разобрались в основах администрирования, получили представление о метаданных.</p>

<p class="section" id="s3">
Глава 3 даст базовые навыки работы с управляемой формой. <br>
Работы с базой данных здесь пока нет.</p>   

<ul>
    <li>Занятие 7 - каркас нашей конфигурации, управляемый интерфейс</li>
    <li>Занятие 8 - директива компиляции VS инструкция препроцессора,
    клиент-серверный вызов</li>
    <li>Занятие 9 - первая задача: z = max(Реквизит1, min(Реквизит2, Реквизит3))</li>
    <li>Занятие 10 - развиваем задачу занятия 09: работаем асинхронно</li>
    <li>Занятие 11 - задача формы-диспетчера: создаем элементы формы программно, проводим аналогии с ООП</li>
    <li>Занятие 12 - задача на неявное приведение примитивных типов: Калькулятор</li>
    <li>Занятие 13 - простые задачи: набиваем руку</li>
    <li>Занятие 14 - задача-шаблон для другого программиста</li>
    <li>Занятие 15 - умножаем вектор-строку на вектор-столбец</li>
    <li>Занятие 16 - реализуем несколько универсальных функций</li>
    <li>Занятие 17 - развиваем задачу из занятия 15: код в фоне</li>
    <li>Занятие 18 - задача на граф</li>
    <li>Занятие 19 - финальное занятие главы: контрольные вопросы</li>
</ul>

<p class="medium italic">Вы уже уверенно себя чувствуете в использовании "динамических данных".</p>
<div class="frame">
При стабильном темпе занятий (3-4 раза в неделю) - это займёт <b>4-5 недель</b></div>
    
<p class="section" id="s4">
Глава 4  - Проект "Система тестирования".</p>

<ul>
    <li>Занятие 20 - начинаем работу над Проектом, построение базовой модели</li>
    <li>Занятие 21 - ввод начальных данных, загрузка данных из json, сохранение результата в xml</li>
    <li>Занятие 22 - публикация базы на веб-сервере, загрузка данных из Excel</li>
    <li>Занятие 23 - проектирование модели в объектах базы данных (справочники), вывод структуры хранения</li>
    <li>Занятие 24 - форма элемента справочника, его события</li>
    <li>Занятие 25 - транзакция, предопределенные элементы, загрузка данных в справочники</li>
    <li>Занятие 26 - форма списка, динамический список, запрос, загрузка данных в модель</li>
    <li>Занятие 27 - документы: структура таблиц, стандартные свойства, особенности</li>
    <li>Занятие 28 - документы: форма списка, проведение</li>
    <li>Занятие 29 - регистр накопления оборотов, формирование движений</li>
    <li>Занятие 30 - регистр накопления остатков, формирование движений</li>
    <li>Занятие 31 - отчеты на СКД, работа с настройками отчета</li>
    <li>Занятие 32 - универсальный отчет на СКД, программная работа с СКД</li>
    <li>Занятие 33 - регистры сведений, структура, особенности, связь по параметру в СКД</li>
    <li>Занятие 34 - специфичные задачи по регистрам сведений</li>
    <li>Занятие 35 - характеристики: ПВХ</li>
    <li>Занятие 36 - введение в регистры бухгалтерии и связанные с ними объекты</li>
    <li>Занятие 37 - финальное занятие главы: контрольные вопросы</li>
</ul>

<p class="medium italic">Вы разобрались с основными объектами метаданных. Умеете проектировать их структуру и решаете уже достаточно непростые задачи.</p>
<div class="frame">
Опять же при стабильном хорошем темпе занятий (3-4 раза в неделю) - это займёт <b>8-10 недель</b>.</div>
 
<p class="section" id="s5">
Глава 5 - подводящие задачи уровня Специалиста по Платформе. </p>

<ul>
    <li>Занятие 38 - каркасная конфигурация 1С Специалист</li>
    <li>Занятие 39 - упрощенная задача оперативного учета, часть 1</li>
    <li>Занятие 40 - упрощенная задача оперативного учета, часть 2</li>
    <li>Занятие 41 - упрощенная задача бухгалтерского учета</li>
    <li>Занятие 42 - обзор задачи на регистр расчетов</li>
    <li>Занятие 43 - финальное занятие главы: контрольные вопросы</li>
</ul>

<p class="medium italic">Вы закрепили материал Главы 4 и попробовали свои силы в решении задач уровня Специалиста по Платформе.</p>
<div class="frame">
При сохранении темпа занятий (3-4 раза в неделю) - это займёт <b>3-4 недели</b></div>
     
<button class="ref"> 
	<a href="/price">Сколько стоит?</a>
</button> 

</section>