
<aside>
    <nav>
        <ul class="aside-menu">
            <li class='active'><a href="#s1">От стажёра до pre-Middle</a></li>
            <li><a href="#s3">Какой результат</a></li>
            <li><a href="#s5">Особенности обучения</a></li>
            <li><a href="#s6">Подойдет, если</a></li>
            <li><a href="#s7">Не подойдет, если</a></li>
			<li><a href="#s8">Как будем работать</a></li>
			<li><a href="#s10">Как проходят занятия</a></li>
			<li><a href="#s12">Срок обучения</a></li>
        </ul>
    </nav>	            
</aside>

<header class="view" id='s1'>
       
<b>Курс подготовки практикующего 1С-разработчика</b> с достижением уровня pre-Middle от уровня стажера.
Проходит в <b>асинхронном</b> формате. Начинаете обучение в любое время и двигаетесь дальше с комфортной скоростью.
<b>Главная ценность</b> — большой объём обратной связи от наставника.
<b>Ваш код разбирается детально</b>, пробелы показываются сразу, помощь оказывается своевременно.
Для людей с <b>техническим образованием</b>.

</header>

<section>

<p class="section" id='s2'>
От стажёра до pre-Middle за пять месяцев — реально!</p>

<div class="frame main">
<ul style="font-size:large;" >
<li style="margin: 10px">Хотите обучаться с <b>опытным наставником</b> и застраховаться от разочарований на работе и увольнения?</li>
<li style="margin: 10px">Обойтись <b>без «шишек на лбу»</b> и претензий руководства к неквалифицированному сотруднику?</li>
<li style="margin: 10px"><b>Сэкономить</b> себе <b>время</b> на просмотр многих видеокурсов, после которых ваш <b>код не становится лучше</b>? </li>
<li style="margin: 10px"><b>Начать</b> наконец <b>получать зарплату</b>, которая соответствует вашим способностям? </li>
</ul>

</div>

<p class="section" id='s3'>
Что вы получите после завершения курса</p>

<div  class="frame">
Гарантированный профессиональный рост от <b>новичка</b><br>
в профессии до уровня <b>pre-Middle</b></div>

<p style="font-size:large">Это включает в себя возможность:</p>
<ul style="font-size:medium;" >
	<li style="margin: 5px">управляться с объектами платформы — <b>уверенно</b>;</li>
	<li style="margin: 5px">понимать опытных разработчиков — <b>«без переводчика»</b>;</li>
	<li style="margin: 5px">знать общие принципы проектной работы — <b>достаточно</b>;</li>
	<li style="margin: 5px">работать в связке с опытным программистом — <b>в унисон</b>;</li>
	<li style="margin: 5px">писать код по стандартам отрасли — <b>понятно для людей</b>;</li>
	<li style="margin: 5px">исключать грубые архитектурные ошибки — <b>автоматически</b>;</li>
	<li style="margin: 5px">сдать экзамен 1С:Специалист по платформе — <b>с большой долей вероятности</b>.</li>
</ul>

<p class="section" id='s4'>
О том же простым языком</p>
<p style="font-size:large">Вы получите возможность:</p>

<ul style="font-size:medium"  >
	<li style="margin: 5px">решать <b>достаточно сложные</b> задачи <b>самостоятельно</b>;</li>
	<li style="margin: 5px">реализоваться в профессии, получать <b>удовольствие</b> от работы, а не стресс;
</li>
	<li style="margin: 5px">быстро окупить курс и начать <b>получать достойную зарплату</b> (от 50 000 руб.)</li>
</ul>

<p class="section" id='s5'>
Особенности обучения на курсе</p>

<ul style="font-size:medium">
	<li style="margin: 5px">Вы обучаетесь в формате тет-а-тет с преподавателем-репетитором.
    Не так, как было в школе или вузе, где один «вещает» для многих. </li>
	<li style="margin: 5px">Групповых работ нет.
    Есть ваши индивидуальные решения и их разбор персонально для вас. </li>
	<li style="margin: 5px"><b>С вами занимаются так, как если будут брать к себе на работу.</b></li>
	<li style="margin: 5px">Вам дают задания, необходимые для решения конкретных задач, наиболее часто встречающихся на практике. </li>
	<li style="margin: 5px"> На любое количество вопросов вы получите развёрнутые ответы.</li>
	<li style="margin: 5px">Глубокое погружение в каждую  тему.
    Ответы преподавателя вам будут не в стиле «просто это так», а «это так, потому что...» </li>
</ul>
<p class="section" id='s6'>
Этот курс вам <b>подойдет</b>, если вы</p>

<ol style="font-size:medium">
<li style="margin: 5px">Имеете полное/неполное высшее образование по IT-специальностям.</li>
<li style="margin: 5px">Соответственно у вас есть опыт программирования на языке высокого уровня.</li>
<li style="margin: 5px">Вы понимаете основы ООП.</li>
<li style="margin: 5px">Вы раньше не сталкивались с 1с как программист (если сталкивались - отлично).</li>
<li style="margin: 5px">Вы <b>мотивированы</b> на получение <b>реальных практических навыков.</b></li>
<li style="margin: 5px">Вы <b>мотивированы</b> на <b>глубокое погружение</b> в предмет изучения.</li>
<li style="margin: 5px">Вы <b>мотивированы</b> на <b>изучение нового</b> и понимание <b>сути профессии.</b></li>
<li style="margin: 5px">Вы <b>мотивированы</b>, чтобы дочитать этот текст до конца.</li>
</ol>

<p class="section" id='s7'>
Для кого курс <b>не подойдёт</b></p>

<ul style="font-size:medium"  >
	<li style="margin: 5px">Для людей, у которых нет амбиций, соответственно серьезной мотивации.</li>
	<li style="margin: 5px">Для лиц, которые не понимают, что гарантия успеха — <b>серьезный труд</b>.</li>
	<li style="margin: 5px">Для тех, кто не вырос из формата вузовского обучения, когда всё «разжёвывают» и остается только проглотить.</li>
	<li style="margin: 5px">Для успеха на курсе придётся <b>много, честно, упорно, настойчиво работать</b>, в том числе самостоятельно. Боитесь этого — курс не ваш. </li>
	<li style="margin: 5px">Если после первых же трудностей готовы сдаться — пожалуйста, пройдите мимо.</li>
	<li style="margin: 5px">Также просим это сделать тех, у кого нет силы воли и целеустремлённости. </li>
</ul>

<p class="section" id='s8'>
Как мы будем добиваться результатов</p>

<p style="line-height: 130%; margin:20px auto; font-size:large"> 
Вы не только последовательно изучаете теоретический материал и решаете <b>нарастающие по сложности практические задачи</b>, но и вместе со мной понимаете суть задач и причины их возникновения.  </p>
<p style="line-height: 130%; margin:20px auto; font-size:medium">
Давая своё решение, я не просто говорю <i>«это так»</i>,
а поясняю:<i>«это так, потому что решает такую-то задачу, возникшую по такой-то причине»</i>.
 </p>
<p style="line-height: 130%; margin:20px auto; font-size:medium">
<b>Самый простой пример:</b> в системе есть класс методов, реализующий концепцию «отказа от модальных окон». Зачем они потребовались? Просто так захотелось фирме 1С?
Нет, это связано с появлением возможности работы в системе через веб-интерфейс, то есть через браузер, который неадекватно реагирует на модальные окна.
</p>
<p style="line-height: 130%; margin:20px auto; font-size:large">
Когда понимаешь <b>суть и причину возникновения проблемы</b>, —
гораздо легче усвоить предлагаемое платформой решение. </p>

<div class="section" id='s9'>
Как это выглядит на практике?</div>
<ol style="font-size:medium" >
<li style="margin: 5px">Занимаетесь <b>очно</b>, один на один в режиме <b>репетитора</b>.</li>
<li style="margin: 5px"><b>Поэтапно</b> получаете теорию.</li>
<li style="margin: 5px">Вместе решаете <b>постепенно усложняющиеся</b> практические задачи.</li>
<li style="margin: 5px">Расширяете кругозор за счет <b>подобранных репетитором ссылок</b> на учебные материалы.</li>
<li style="margin: 5px">За 5 месяцев <b>упорного труда</b> достигаете планки pre-Middle. И <b>я вас туда доведу</b>.</li>
</ol>

<div style="line-height: 130%; margin:20px auto; font-size:medium" >
Пример подачи учебного материала можно посмотреть здесь: <a class="ref" target="_blank" href="https://infostart.ru/1c/articles/1458589/">https://infostart.ru/1c/articles/1458589/</a>.</div>

<p class="section" id='s10'>
Как проходят занятия:</p>
<div  style="font-size:medium">
<iframe allowfullscreen="" frameborder="0" height="400" scrolling="no" src="https://www.youtube.com/embed/F7Qs-FCUy3I?rel=0" width="700"></iframe></div>
<div  style="font-size:medium; margin: 20px auto">
Я прилагаю все усилия для того, чтобы комментировать ответы в течение первых часов после получения вашего сообщения.</div>

<div  style="font-size:medium; margin: 20px auto" >
В комментариях будут пояснения; логика рассуждений; информация, расширяющая кругозор.</div>

<p class="frame">
Комментарии я пишу <b>лично</b>. Это <b>НЕ</b> «автоответ» или отображение правильного ответа «под спойлером», как <a class="ref" target="_blank" href="https://infostart.ru/1c/articles/1458589/">в этой статье</a>.<br>
Фактически мы с вами будем <b>общаться в тематических чатах</b>, привязанных к контенту занятия.
</p>

<p class="section" id='s12'>
Продолжительность курса</p>
<div style="font-size:medium">
<div style="margin: 10px">
Скорость прохождения курса зависит от целеустремленности и времени, которое будет уделяться курсу (помните про важность хорошей мотивации?).</div>
<div style="margin: 10px">
Рекорд для самого мотивированного и упорного студента — <b>3 месяца</b>.</div>
<div style="margin: 10px">
Самый долгий показатель дошедшего до конца — <b>6 месяцев</b>.</div>
</div>

<div class="frame">
Ключевым отличием курса является то, что вы <b>не сможете</b> пробежать его «наискосок».<br>
<b>Чтобы дойти до результата, придется потрудиться</b>.<br>
</div>

<button> 
	<a href="/content">Программа курса</a>
</button>   

<!--div class="button" style="margin: 10px; font-size:large; font-weight: bold">
	<a style="display:inline; color:rgb(59, 89, 152)" href="/content">Программа курса</a>
</div>

<!--p class="section" id='s11'>
Как получить доступ к курсу?</p>

<div style="font-size:medium">После оплаты вы получите письмо на email.<br>
В письме вас будет ждать ссылка на личный кабинет, а также логин и пароль для доступа.</div>

<div>...</div-->

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function() {
  // Generic selector to be used anywhere
  $(".aside-menu li a").click(function(e) {

    // Get the href dynamically
    var destination = $(this).attr('href');
    //console.log($(destination));
    // Prevent href=“#” link from changing the URL hash (optional)
    e.preventDefault();

    $(".aside-menu li").removeClass('active');
    $(this).parent().addClass('active');
    
    // Animate scroll to destination
    $('html, body').animate({
      scrollTop: $(destination).offset().top-220
    }, 'fast');
  });
});
</script>