<section class="content">

<p class="section">
Полезные ссылки и материалы</p> 

<ul>
<li><p>
Про <b>пытливый ум</b> - главное качество программиста: 
<a class="ref" target="_blank" href="https://infostart.ru/1c/articles/1189641/">внешняя ссылка</a>
</p></li>
<li><p>
<b>Про разницу</b> между «джуном», «мидлом» и «сеньором»: 
<a class="ref" target="_blank" href="https://habr.com/ru/company/alconost/blog/463755/">внешняя ссылка</a>
</p></li>

<li><p><b>Про целеполагание</b>, внутреннюю мотивацию и ценность на рынке труда: 
<a class="ref" target="_blank" href="https://music.yandex.ru/album/12552717/track/72758562">внешняя ссылка</a>
</p></li>

<li><p>
Этот курс рассчитан на людей, <b>владеющих основными навыками программирования</b> на языке высокого уровня. Если понятие <b>программирование</b> для вас в новинку, то 
стоит начать с чего-нибудь попроще.</p>
<p>Например: 
<a class="ref" target="_blank" href="https://helpme1c.ru/uroki-po-vnutrennemu-yazyku-programmirovaniya-1s-8-3-dlya-nachinayushhix-programmistov"><b>helpme1c.ru</b></a>
</p>
<p>Процитирую автора:</p>
<p style="font-style:italic">"Самое главное, что вам нужно сделать, это усвоить суть программирования. Ухватить сам принцип выполнения программы. А для этого нужно не объекты новые создавать в базе, а <b>изучать основы самого языка программирования</b> 1С 8. А всё остальное уже потом приложится и будет изучено быстро и легко."</p>
<p>Я полностью согласен с этим утверждением. Мы будем изучать <b>как применять навыки программиста</b> в среде 1С.</p>
<p>Чтобы успешно освоить материал курса вы <b>должны уметь</b> решать 
<a class="ref" target="_blank" href="https://pas1.ru/sorting-columns"><b>вот такие</b></a>
задачи на своём основном языке.</p>
</li>
<li><p>
Как <b>вводная информация</b> по платформе полезен официальный сайт 1С:
<a class="ref" target="_blank" href="https://v8.1c.ru/platforma"><b>https://v8.1c.ru/platforma</b></a>
</p>

<p>В частности:</p>

<p><a class="ref" target="_blank" href="https://v8.1c.ru/platforma/derevo-obektov-konfiguracii/">
Дерево объектов конфигурации</a></p>
<p><a class="ref" target="_blank" href="https://v8.1c.ru/platforma/palitra-svoystv/">
Палитра свойств</a></p>
<p><a class="ref" target="_blank" href="https://v8.1c.ru/platforma/okno-dopolnitelno/">
Окно «Дополнительно»</a></p>
<p><a class="ref" target="_blank" href="https://v8.1c.ru/platforma/sintaks-pomoshchnik/">
Синтакс-помощник</a></p>
<p><a class="ref" target="_blank" href="https://v8.1c.ru/platforma/obekty-konfiguracii/">
Объекты конфигурации</a></p>

</li>
<li><p>
Неплохая <b>видеошкола для старта</b>:
<a class="ref" target="_blank" href="https://www.youtube.com/channel/UCS_K2CIhhAjVhsDnulDJLCg">youtube</a>
</p>
<p>В частности про отладчик:
<a class="ref" target="_blank" href="https://www.youtube.com/watch?v=jbJ1B1r_b80">youtube</a>
</p></li>
<li>
<p>Для понимания <b>к чему стремиться</b>:</p>

<p><a class="ref" target="_blank" href="https://www.youtube.com/watch?v=QpKJhZfAXkY">
"О том как стать ведущим программистом 1С" (Алексей Лустин)
</a></p>
<p><a class="ref" target="_blank" href="https://fktpm.ru/file/84-soversennyi-kod.pdf">
"Совершенный код" (Стив Макконнелл)</a></p>
<p><a class="ref" class="ref" target="_blank" href="https://its.1c.ru/db/v8std#browse:13:-1:31">
1С стандарты разработки</a></p>

</li>
</ul>
</section>