<section class="content" id="links">

<p class="section">
Полезные ссылки и материалы</p> 

<ol style="margin-top:0px">
<li><p>
Про <b>пытливый ум</b> - главное качество программиста: 
<a target="_blank" href="https://infostart.ru/1c/articles/1189641/">https://infostart.ru/1c/articles/1189641/</a>
</p></li>
<li><p>
<b>Про разницу</b> между «джуном», «мидлом» и «сеньором»: 
<a target="_blank" href="https://habr.com/ru/company/alconost/blog/463755/">https://habr.com/ru/company/alconost/blog/463755/</a>
</p></li>

<li><p><b>Про целеполагание</b>, внутреннюю мотивацию и ценность на рынке труда: 
<a target="_blank" href="https://music.yandex.ru/album/12552717/track/72758562">https://music.yandex.ru/album/12552717/track/72758562</a>
</p></li>


<li><p>
Этот курс рассчитан на людей, <b>владеющих основными навыками программирования</b> на языке высокого уровня. Если понятие <b>программирование</b> для вас в новинку, то 
стоит начать с чего-нибудь попроще.</p>
<p>Например: 
<a target="_blank" href="https://helpme1c.ru/uroki-po-vnutrennemu-yazyku-programmirovaniya-1s-8-3-dlya-nachinayushhix-programmistov"><b>helpme1c.ru</b></a>
</p>
<p>Процитирую автора:</p>
<p style="font-style:italic">"Самое главное, что вам нужно сделать, это усвоить суть программирования. Ухватить сам принцип выполнения программы. А для этого нужно не объекты новые создавать в базе, а <b>изучать основы самого языка программирования</b> 1С 8. А всё остальное уже потом приложится и будет изучено быстро и легко."</p>
<p>Я полностью согласен с этим утверждением. Мы будем изучать <b>как применять навыки программиста</b> в среде 1С.</p>
<p>Чтобы успешно освоить материал курса вы <b>должны уметь</b> решать 
<a target="_blank" href="https://pas1.ru/sorting-columns"><b>вот такие</b></a>
задачи на своём основном языке.</p>
</li>
<li><p>
Как <b>вводная информация</b> по платформе полезен такой сайт:
<a target="_blank" href="https://v8.1c.ru/platforma"><b>https://v8.1c.ru/platforma</b></a>
</p>
<table border="0" cellpadding="0" cellspacing="0">
	<caption>В частности:</caption>
	<tbody>
	  <tr>
		<td>Дерево объектов конфигурации</td>
		<td>
		<a target="_blank" href="https://v8.1c.ru/platforma/derevo-obektov-konfiguracii/">https://v8.1c.ru/platforma/derevo-obektov-konfiguracii/</a>
		</td>
	  </tr>
	  <tr>
		<td>Палитра свойств</td>
		<td>
		<a target="_blank" href="https://v8.1c.ru/platforma/palitra-svoystv/">https://v8.1c.ru/platforma/palitra-svoystv/</a>
		</td>
	  </tr>
      <tr>
		<td>Окно «Дополнительно»</td>
		<td>
		<a target="_blank" href="https://v8.1c.ru/platforma/okno-dopolnitelno/">https://v8.1c.ru/platforma/okno-dopolnitelno/</a>
		</td>
	  </tr> 
		<tr>
		<td>Синтакс-помощник</td>
		<td>
		<a target="_blank" href="https://v8.1c.ru/platforma/sintaks-pomoshchnik/">https://v8.1c.ru/platforma/sintaks-pomoshchnik/</a>
		</td>
	  </tr> 
		<tr>
		<td>Объекты конфигурации</td>
		<td>
		<a target="_blank" href="https://v8.1c.ru/platforma/obekty-konfiguracii/">https://v8.1c.ru/platforma/obekty-konfiguracii/</a>
		</td>
	  </tr> 	  
	</tbody>
</table>
</li>
<li><p>
Неплохая <b>видеошкола для старта</b>:
<a target="_blank" href="https://www.youtube.com/channel/UCS_K2CIhhAjVhsDnulDJLCg">https://www.youtube.com/channel/UCS_K2CIhhAjVhsDnulDJLCg</a>
</p>
<p>В частности про отладчик:
<a target="_blank" href="https://www.youtube.com/watch?v=jbJ1B1r_b80">https://www.youtube.com/watch?v=jbJ1B1r_b80</a>
</p></li>
<li>
<p>Для понимания <b>к чему стремиться</b>:</p>
<table border="0" cellpadding="0" cellspacing="0">
	<caption></caption>
	<tbody>
	  <tr>
		<td>"О том как стать действительно ведущим программистом 1С"<br>
(Алексей Лустин)</td>
		<td>
		<a target="_blank" href="https://www.youtube.com/watch?v=QpKJhZfAXkY">https://www.youtube.com/watch?v=QpKJhZfAXkY</a>
		</td>
	  </tr>
	  <tr>
		<td>"Совершенный код" (Стив Макконнелл)</td>
		<td>
		<a target="_blank" href="https://fktpm.ru/file/84-soversennyi-kod.pdf">https://fktpm.ru/file/84-soversennyi-kod.pdf</a>
		</td>
	  </tr>
      <tr>
		<td>1С стандарты разработки</td>
		<td>
		<a target="_blank" href="https://its.1c.ru/db/v8std#browse:13:-1:31">https://its.1c.ru/db/v8std#browse:13:-1:31</a>
		</td>
	  </tr> 		
	</tbody>
</table>
</li>
</ol>
</section>