<section class="content">

<p class="section">
Что будет, если заниматься самостоятельно?
</p>

<p>
Начинающие сталкиваются с проблемой получения практических навыков работы с 1С.</p>

<p class="x-large">
В результате, они тратят месяцы на:</p>

<ul>
<li>
<p>Чтение обзорных книг</p></li>
<li>
<p>Просмотр видеокурсов</p></li>
<li>
<p>Посещение вебинаров</p></li>
<li>
<p>Метод проб и ошибок</p></li>
</ul>

<p>
Но если после года таких усилий задать человеку вопрос, <b>как хорошо ты знаешь 1С</b>, в 95% случаев ответом будет или “<b>в теории</b>”, или выяснится, что знания есть, но <b>несистемные</b>, с большими пробелами.</p>

<p>
При этом кажется, что было вложено всё: время, деньги, терпение, но нужных результатов нет.</p>

<p class="section">
Почему так происходит?</p>

<p>
Практика показывает, что самостоятельное, <b>несистемное</b> обучение практически бесполезно, поскольку <span style="color:red">95 из 100</span> будущих программистов совершают <span style="color:red">3 основные ошибки</span>:
</p>

<div class="frame">
<p>Они не понимают, что изучать и как изучать</p>
<p>Люди тратят 99% драгоценного времени на изучение ненужных вещей, и делают это неправильно, что приводит к обрывочным знаниям или вообще не помогает.</p>
</div>


<div class="frame">
<p>Они получают «пассивные» знания от чтения книг и просмотра видео</p>
<p>Во время выполнения реальной задачи программист просто не способен их применить, что делает эти знания бесполезными.</p>
</div>

<div class="frame">
<p>Они не знают, на что обращать внимание и что нужно учитывать во время решения задачи</p>
<p>У большинства начинающих нет критического набора навыков, которые необходимы для успешного выполнения задачи.</p>
</div>

<p class="section">
Что же делать?</p>

<p class="frame">
Учиться вместе с наставником.</p>

<p>
Я столкнулся с задачей <b>системной потоковой</b> подготовки стажеров являясь уже опытным разработчиком.</p>
   
<p>Целью было подготовить людей, которые впоследствии будут работать на реальном проекте.<br>
Отсюда соответствующее отношение к <b>расширенному</b> содержанию курса и <b>работа на перспективу</b>.</p>   

<p>Важно понимать разницу между "джуном" и "сеньором":</p>

<p>«Опытные разработчики пишут более простой код и подходят к этому иначе. Но кроме того, чтобы уметь программировать, очень важно также знать, <b>какие вопросы задавать и что делать с полученными ответами</b>. Именно старший разработчик — тот человек, чей богатый опыт позволяет не растеряться и в любой ситуации найти решение.»</p>
<div class="frame">
Младшие разработчики сосредотачиваются на «компьютерной» части кода, упуская из виду «человеческую».</div>

<p>Процитирую Мартина Фаулера:</p>

<div class="frame">
«Любой может написать код, понятный компьютеру. Хороший программист пишет код, понятный человеку.»</div>

<p>Ясно, что до "сеньора" полгода - это слишком мало. 
Здесь нужен опыт. Но дать базу, достаточную для "пре-миддла" вполне реально. 
Курс даёт навыки работы именно с объектами платформы. 
Типовые конфигурации и специализированные решения типа "Конвертации данных" он 
не покрывает. 
Поэтому называть успешно закончивших обучение полноценными "миддлами" не правильно.</p>

<p class="frame">
	Выпускники курса <b>многое прошли</b> и <b>точно знают</b> куда двигаться дальше)
</p>

<button class="ref"> 
	<a href="/subscription">Купить подписку</a>
</button>

</section>