<section class="content" id="buy">

<p class="section">
Ограничения по количеству студентов</p>
<div style="margin: 10px; font-size:medium">
Курс предполагает значительный объем индивидуальной работы. Это ограничивает размер группы, которую я могу вести.
</div>

<div class="frame">
План на {{nextMonth}} - <b>{{plan}}</b> мест.</div>

<div class="frame">
На {{currentMonth}} осталось <b>{{balance}}</b> места.</div>

<p class="section">
Оплатить доступ</p> 

<div style="display: flex; flex-direction: column">
<button class="ref"> 
	<a target="_blank" href="{{priceRef1}}">на 1 месяц <br>({{price1}} т.р.)</a>
</button>

<button class="ref"> 
	<a target="_blank" href="{{priceRef3}}">на 3 месяца <br>({{price3}} т.р.)</a>
</button>

<button class="ref"> 
	<a target="_blank" href="{{priceRef5}}">на 5 месяцев <br>({{price5}} т.р.)</a>
</button>
</div>

<!--p class="section">
Демо-доступ</p> 

<button class="ref"> 
	<a target="_blank" href="{{priceRefDemo}}">на 3 дня ({{priceDemo}} т.р.)</a>
</button-->

<p class="section">
После оплаты</p> 

<p style="font-size:large">Чтобы ускорить активацию доступа можете написать мне на email или в telegram.<br>
<b>Укажите ваши данные:</b> ФИО, email, телефон, дата начала занятий и <b>Номер транзакции</b> из квитанции.</p>

<p style="font-size:large">После оплаты вы получите письмо на email.<br>
В письме вас будет ждать <b>ссылка на личный кабинет</b>, а также <b>логин и пароль</b> для доступа.</p>

<div class="contacts">
<button class="ref"> 
	<a target="_blank" href="mailto:{{email}}">моя почта</a>
</button>

<button class="ref"> 
	<a target="_blank" href="{{telegram}}">я в telegram</a>
</button>

<button class="ref"> 
	<a target="_blank" href="{{telegramChannel}}">telegram-канал курса</a>
</button>
</div>

</section>