:root {
  --fontHead: 		'Oswald';
  --fontText: 		'Roboto';
  --fontQuote: 		'Merriweather';
  
  --colorHead: 		#5E8C31;
  --colorQuote: 	#995FA3;
  --colorFrame: 	#95B8D1;
  --colorAttension: #EA9010;
  --colorHighlight: #3b5998;
  --colorBack: 		#F8F8F8;
  --colorText: 		#012A36;
  --colorWhiteText: #FFFFFF;
  
  --screenWidth: 	70%;
  --bodyMarginTop: 	140px;
  --asideWidth: 	100%;
  --sectionMargin: 	30%;
  --siteMapWidth: 	750px;
  --footerHeight: 	90px; 
}

body {
	color: var(--colorText);
	background: var(--colorBack) url(images/bg.png);
	
	font-family: var(--fontHead), sans-serif;
	font-family: var(--fontText), sans-serif;
	font-family: var(--fontQuote), sans-serif;

	font: medium var(--fontText), sans-serif;
	
	margin: 0;
}

#wrapper {
	max-width: var(--screenWidth);
	margin: auto;	
}

#menu {
    position: fixed; 
    top: 0; 
    width: var(--screenWidth); 
    overflow: hidden;
    background: var(--colorBack) url(images/bg.png);
	border-top: 5px solid var(--colorHighlight);
}
#body {
    margin-top: var(--bodyMarginTop);
	display:flex;
}

header.main {
	
	font: x-large var(--fontHead), sans-serif;
	text-align: left;
	
	padding: 20px 0;
}

header.view {
	/*margin-left: var(--sectionMargin);*/
	padding-bottom: 10px;
}
@media (min-width: 1200px){
aside {
    /*position: fixed;*/
	/*top: 20%;*/
	width: var(--asideWidth);
	font: small var(--fontHead), sans-serif;
	margin: 0 20px;
}
}

@media (max-width: 1200px){
aside {
    /*position: fixed;*/
	/*top: 20%;*/
	width: var(--asideWidth);
	font: small var(--fontHead), sans-serif;
	margin: 0 20px;
	display: none;
}
}
section {
	/*margin-left: var(--sectionMargin);*/
	padding-bottom: 10px;
}

blockquote {
	max-width: var(--screenWidth);
	margin: 10px auto;
	
	background: var(--colorQuote);
	font-family: var(--fontQuote), sans-serif;
	
	/*margin: 10px 0;*/
	padding: 10px 20px;

}

blockquote p {
	color: var(--colorWhiteText);
	font-style: italic;
	font-size: large;
	
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: medium;
	font-style: normal;
	color: var(--colorWhiteText);
	text-align: right;		
}

.section{
    line-height: 130%; 
    
    text-align:left; 
    font-size:x-large;
    font-weight: bold;
    color: var(--colorHead);
	
	margin:20px auto; 
}

iframe{
    border: 3px solid var(--colorHighlight); 
}

ul li{
	margin: 5px;
}

.large{
	font-size:large	
}
.frame{
    line-height: 130%; 
    border: 3px solid var(--colorHighlight); 
    background-color: var(--colorFrame); 
    
    font-size: large; 
	
	padding: 15px; 
	margin:20px auto; 
   
}

.frame.main{
    background-color: var(--colorAttension);
    padding: 5px;    
}

.frame.main li{
    /*list-style-type: none;*/
	margin: 10px;
	font-size:large;
}

img {
	border: 0;
}

button {
	color: var(--colorWhiteText);
	background-color: var(--colorHighlight);
	border: none;
	
	font-family: var(--fontHead), sans-serif;
	
	height: 32px;
}

button a {
    color: var(--colorWhiteText);
    text-decoration: none;
    font: large var(--fontHead), sans-serif;
	
	padding: 0 20px; 
}

button.ref {
	margin: 10px;
}
	
nav {
	border: 1px solid var(--colorBack);
	background: var(--colorWhiteText);
	border-bottom: 5px solid var(--colorHighlight);
}

button[name="CourseEnter"] {
	float: right;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: large var(--fontText), sans-serif;
	
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	
	padding: 10px 20px;
	margin: 0;	
}

.top-menu li.active {
	background: var(--colorHighlight);
}

.top-menu li.active a {
	color: var(--colorWhiteText);
}

.top-menu a {
	color: var(--colorText);
}

.aside-menu li {

	border-top: 1px solid var(--colorHighlight);
	list-style-type: none;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: var(--colorHighlight);
}
.aside-menu li.active a{
	color: var(--colorHighlight);
}
.aside-menu a {
	color: var(--colorText);
}

.ref {
	display:inline; 
    color: var(--colorHead);
}

p {
	margin: 20px 0;
}

footer {
	background: var(--colorHighlight);
	color: var(--colorWhiteText);
	font-size: x-small;
}

#footer {
	max-width: var(--screenWidth);
	margin: auto;
	padding: 10px 0;
	height: var(--footerHeight);
}

footer h3 {
	font: medium var(--fontHead), sans-serif;
	color: var(--colorWhiteText);
	border-bottom: 1px solid var(--colorWhiteText);
	margin: 0 0 10px 0;
}

footer a {
	color: var(--colorBack);
}

footer p {
	margin: 5px 0;
}

#sitemap {
	width: var(--siteMapWidth);
	float: left;
	/*margin-left: 20px;
	padding-right: 15px;*/
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: small;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}


#footer-logo {
	float: right;
	
	font-size: medium;
	text-align: right;
	
	margin-top: 20px;
}

.content_table p {
	margin: 5px;
}

.content_table li {
	margin: 5px;
}

.content_table ul {
	margin-top: 0px;
}

.content_table td {
	font-size:medium;
}

.content_table .chapter {
	font-size:large;
	color: var(--colorText);	
}

.page .heading{
	font-size:xx-large; 
	margin:10px 0px;
	color: var(--colorText);
}

.page#links table td{
	border: 1px solid var(--colorText);
    padding: 10px;
}

.page#links table{
	margin-bottom:20px
}

.page#links table caption{
	text-align: left;
    color: var(--colorHead);
    margin-bottom: 10px;
}

.page#links a{
	display:inline; 
	color: var(--colorHead);
}